# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C-extensions
*.so

# Virtual environment
venv*/  
venv310/

# dotenv files
.env

# LocalStack volume data
/volume/

# Python test + type caches
.pytest_cache/
.mypy_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/